__pycache__/
*.pyc
!*.js
!*.jsx
!*.ts
!*.tsx
!*.html
!*.css
!*.scss
!*.sass
!*.less
!*.json
!*.yaml
!*.yml
!*.md
!*.txt
!*.sh
!*.bash
!*.zsh
!*.fish
!*.ps1
!*.psm1
!*.cmd
!*.bat
!*.exe
!*.dll
!*.so
!*.dylib
!*.o
!*.obj
!*.a
!*.lib
!*.jar
!*.war
!*.ear
!*.zip
!*.tar
!*.gz
!*.bz2
!*.xz
!*.lzma
!*.7z
!*.rar
!*.iso
!*.img
!*.vdi
!*.vmdk
!*.vhd
!*.vhdx
!*.ova
!*.ovf
!*.qcow2
!*.qed
!*.vpc
!*.vmc
!*.vmx
!*.vmxf
!*.vmtm
!*.vmsd
!*.vmss
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn
!*.vmsx
!*.vmtn
!*.vmtm
!*.vmws
!*.vmtx
!*.vmxf
!*.vmsn